############################
# Node (backend)
############################
backend/node_modules/
backend/.env
backend/package-lock.json

############################
# .NET / Blazor (frontend)
############################
frontend/bin/
frontend/obj/
frontend/wwwroot/appsettings.Production.json
frontend/wwwroot/appsettings.Development.json

############################
# General
############################
.vscode/
.DS_Store
*.log
